*:focus{
    outline: none;
}
/*------TIPO GRAFIA-------*/

body{
    font: 14px/21px Arial;
    color: #664719;
    background: #f5e0dd;
}

.declara h2, .declara label{
    font-family:'Courier New', Courier, monospace;
}

.required_notification{
    font-size: 8px;
}

.declara ul{
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.declara li{
    padding: 12px;
    border-bottom: 1px solid #202252 ;
}

.declara li:first-child,
.declara li:last-child{
    border-bottom: 1px solid #3a3eb8;
}

.declara h2{
    margin: 0;
    display: inline;
}
.required_notification{
    color: #d54525;
    margin: 5px 0, 0, 0; 
    display: inline;
    float: right;
}

.declara label{
    width: 150px;
    margin-top:  3px;
    display: inline-block;
    padding: 3px;
    
}

.declara button{
    margin-left: 156px;
}

.declara input{
    height: 20px;
    width: 220px;
    padding: 5px 8px;
    border: 1px solid #5e4c08;
    box-shadow: 0px 0px 3px #ccc 0, 10px, 15px #eee inset ;
    border-radius: 2px;
    padding:  -rioghj;
}







